.observacao-input {
    border: 1px solid #ccc; 
    border-radius: 4px; 
    padding: 10px; 
    box-shadow: none; 
    resize: none; /* Impede o redimensionamento */
}

/* Centraliza o label*/
.p-float-label {
    text-align: center;
}